---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Seliuti latu.">
  <div class="relative min-h-screen w-screen overflow-hidden">
    <div class="absolute inset-0 bg-black z-10"></div>
    <div class="flex flex-col items-center justify-start h-full w-full z-20 relative bg-black text-white">
      <h1 class='text-white text-6xl md:text-7xl lg:text-8xl font-bold text-center mt-16'>
        BLOX FRUIT CHEAT CODE
      </h1>
      <div class="mt-8 w-full max-w-4xl px-4">
        <table class="w-full text-left border-collapse">
          <thead>
            <tr>
              <th class="py-2 px-4 border-b text-xl font-semibold">Code</th>
              <th class="py-2 px-4 border-b text-xl font-semibold">Reward</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="py-2 px-4 border-b">FIGHT4FRUIT</td>
              <td class="py-2 px-4 border-b">20 minutes of 2x Experience</td>
            </tr>
            <tr>
              <td class="py-2 px-4 border-b">NOEXPLOITER</td>
              <td class="py-2 px-4 border-b">20 minutes of 2x Experience</td>
            </tr>
            <tr>
              <td class="py-2 px-4 border-b">fudd10</td>
              <td class="py-2 px-4 border-b">MoneyIcon 1</td>
            </tr>
            <tr>
              <td class="py-2 px-4 border-b">fudd10_V2</td>
              <td class="py-2 px-4 border-b">MoneyIcon 2</td>
            </tr>
            <tr>
              <td class="py-2 px-4 border-b">Chandler</td>
              <td class="py-2 px-4 border-b">MoneyIcon 0</td>
            </tr>
            <tr>
              <td class="py-2 px-4 border-b">BigNews</td>
              <td class="py-2 px-4 border-b">An in-game title 'BIGNEWS' (Title can only be applied in the Second Sea or the Third Sea, but you can enter the code while in First Sea)</td>
            </tr>
            <tr>
              <td class="py-2 px-4 border-b">KITT_RESET</td>
              <td class="py-2 px-4 border-b">Free Stat Reset</td>
            </tr>
            <tr>
              <td class="py-2 px-4 border-b">Sub2UncleKizaru</td>
              <td class="py-2 px-4 border-b">Free Stat Reset</td>
            </tr>
            <tr>
              <td class="py-2 px-4 border-b">SUB2GAMERROBOT_RESET1</td>
              <td class="py-2 px-4 border-b">Free Stat Reset</td>
            </tr>
            <tr>
              <td class="py-2 px-4 border-b">Sub2Fer999</td>
              <td class="py-2 px-4 border-b">20 minutes of 2x Experience</td>
            </tr>
            <tr>
              <td class="py-2 px-4 border-b">Enyu_is_Pro</td>
              <td class="py-2 px-4 border-b">20 minutes of 2x Experience</td>
            </tr>
            <tr>
              <td class="py-2 px-4 border-b">JCWK</td>
              <td class="py-2 px-4 border-b">20 minutes of 2x Experience</td>
            </tr>
            <tr>
              <td class="py-2 px-4 border-b">StarcodeHEO</td>
              <td class="py-2 px-4 border-b">20 minutes of 2x Experience</td>
            </tr>
            <tr>
              <td class="py-2 px-4 border-b">MagicBUS</td>
              <td class="py-2 px-4 border-b">20 minutes of 2x Experience</td>
            </tr>
            <tr>
              <td class="py-2 px-4 border-b">KittGaming</td>
              <td class="py-2 px-4 border-b">20 minutes of 2x Experience</td>
            </tr>
            <tr>
              <td class="py-2 px-4 border-b">Sub2CaptainMaui</td>
              <td class="py-2 px-4 border-b">20 minutes of 2x Experience</td>
            </tr>
            <tr>
              <td class="py-2 px-4 border-b">Sub2OfficialNoobie</td>
              <td class="py-2 px-4 border-b">20 minutes of 2x Experience</td>
            </tr>
            <tr>
              <td class="py-2 px-4 border-b">TheGreatAce</td>
              <td class="py-2 px-4 border-b">20 minutes of 2x Experience</td>
            </tr>
            <tr>
              <td class="py-2 px-4 border-b">Sub2NoobMaster123</td>
              <td class="py-2 px-4 border-b">20 minutes of 2x Experience</td>
            </tr>
            <tr>
              <td class="py-2 px-4 border-b">Sub2Daigrock</td>
              <td class="py-2 px-4 border-b">20 minutes of 2x Experience</td>
            </tr>
            <tr>
              <td class="py-2 px-4 border-b">Axiore</td>
              <td class="py-2 px-4 border-b">20 minutes of 2x Experience</td>
            </tr>
            <tr>
              <td class="py-2 px-4 border-b">StrawHatMaine</td>
              <td class="py-2 px-4 border-b">20 minutes of 2x Experience</td>
            </tr>
            <tr>
              <td class="py-2 px-4 border-b">TantaiGaming</td>
              <td class="py-2 px-4 border-b">20 Minutes of 2x Experience</td>
            </tr>
            <tr>
              <td class="py-2 px-4 border-b">Bluxxy</td>
              <td class="py-2 px-4 border-b">20 minutes of 2x Experience</td>
            </tr>
            <tr>
              <td class="py-2 px-4 border-b">SUB2GAMERROBOT_EXP1</td>
              <td class="py-2 px-4 border-b">30 minutes of 2x Experience</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</Layout>